<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Navbar container -->
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
    </nav>

    <!-- addProject page container -->
    <div>
        <h1>Submission form for new projects</h1>

        {% if error %}
        <div class="pdf-error" style="color: red;">
            {{ error }}
        </div>
        {% endif %}

        <form method="post" action="{{ url_for('addProject') }}">
            <fieldset>
                <label for="title">Enter project title:
                    <input name="title" id="title" type="text" required />
                </label>
                <label for="author">Enter author:
                    <input name="author" id="author" type="text" required />
                </label>
                <label for="supervisor">Enter supervisor:
                    <input name="supervisor" id="supervisor" type="text" required />
                </label>
                <label for="year">Enter year:
                    <input name="year" id="year" type="number" min="1900" max="2024" required />
                </label>
                <label>Enter degree:
                    <select name="degree">
                        <option value="BSc" selected>Bachelor</option>
                        <option value="MSc">Master</option>
                    </select>
                </label>
                <label>Enter university:
                    <select name="university">
                        <option value="DIKU">DIKU</option>
                    </select>
                </label>
                <!-- <class="error">{{ error }}</p> -->
                <label for="pdf"> Upload pdf:
                    <input name="pdf" id="pdf" type="url"/>
                </label>

            </fieldset>
            <input type="submit">
        </form>
    </div>
    <!-- <div class="popup" onclick="myFunction()">Click me!
        <span class="popuptext" id="myPopup">Popup text...</span>
    </div> -->
</body>
</html> 