<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University Project Catalogue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- container for nav bar for the website: Home, about -->
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
    </nav>

    <!-- container for the whole form. And the submit button will be at the end of the form -->
    <div class="container">
        <h1> Project Catalogue </h1>

        <!-- form for searching projects -->
        <form action="{{ url_for('search') }}" method="post">
            <input type="text" name="query" placeholder="Search for a project...">
            <select name="level">
                <option value="">Select Level</option>
                <option value="BSc">BSc</option>
                <option value="MSc">MSc</option>
            </select>
            <select name="year">
                <option value="">Select Year</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
            </select>
            <select name="university">
                <option value="">Select University</option>
                <option value="DIKU">DIKU</option>
            </select>
            <button type="submit">Search</button>
        </form>



        <div class="list">
            <ul>
                {% for project in projects %}
                    <li>
                        <a href="{{ url_for('project', title=project.title) }}">{{ project.title }}</a> - {{ project.degree }} - {{ project.university }}
                        <ul>
                            <li>Year: {{ project.year }}</li>
                            <li>Authors:
                                <ul>
                                    {% for author in project.authors %}
                                        <li>{{ author }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>



    </div>
    
</body>
</html>
